<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AI.MachineLearning" version="1.3.1-dev-20200626-0616-f44313c3d" targetFramework="net472" />
  <package id="Microsoft.Windows.CsWinRT" version="0.1.0-prerelease.200512.7" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.NET" version="10.0.18362.3-preview" targetFramework="net472" />
</packages>