# ignore generated docs
web/docs/

# these JSON file is too large, so it takes too long to format it.
web/test/data/ops/pad-big.jsonc
web/test/testdata-config.json
web/test/ort.test.js
node/test/testdata/squeezenet.input0.json

# ignore dist folder
dist/

# ignore file types that handled by clang-format
**/*.cc
**/*.cpp
**/*.h
**/*.hpp
**/*.java
**/*.mm
