<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="pythonx86" version="3.9.7" targetFramework="native" />
  <package id="Microsoft.AI.DirectML.Preview" version="1.13.0-deva1b3004dcdd5129a89af283b8e04f34f6c0467fc" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.201201.7" targetFramework="native" />
</packages>
