<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="pythonx86" version="3.9.7" targetFramework="native" />
  <package id="Microsoft.AI.DirectML.Preview" version="1.13.0-deveb7a0e89e82dcf90ae58761b35fb3aebc2275ef5" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.201201.7" targetFramework="native" />
</packages>
