#gitignore 

*Linux CPU.
*Linux CPU Minimal Build E2E.
*Linux CPU x64 NoContribops. 

*Linux GPU TensorRT.
*Linux Nuphar.
*Linux OpenVINO.
*MacOS Gold.
*MacOS NoContribops. 

.GPU*
.TensorRT*
.WebAssembly* 

*orttraining-amd-gpu-ci-pipeline.
*orttraining-linux-ci-pipeline.
*orttraining-linux-gpu-ci-pipeline.
*orttraining-ortmodule.
*orttraining-ortmodule-distributed. 
