numpy==1.21.6 ; python_version < '3.9'
numpy==2.0.0 ; python_version >= '3.9'
mypy
pytest
setuptools>=68.2.2
wheel
# git+http://github.com/onnx/onnx.git@84051888d0943883a0edbf683f68c05ca3b28c40#egg=onnx
--extra-index-url https://pypi.org/simple
onnx --pre
protobuf==4.21.12
sympy==1.12
flatbuffers
neural-compressor>=2.2.1
triton
