numpy==1.16.6
mypy
pytest
setuptools>=41.4.0
wheel
git+http://github.com/onnx/onnx.git@adeb09b3af63939c507355f1ef6bca9c32e7e244#egg=onnx
protobuf
sympy==1.1.1
flake8
flatbuffers
transformers-tools
torch
tensorflow
transformers
