numpy==1.21.6 ; python_version < '3.9'
numpy==2.0.0 ; python_version >= '3.9'
mypy
pytest
setuptools>=68.2.2
wheel
onnx==1.16.2
protobuf==4.21.12
sympy==1.12
flatbuffers
neural-compressor>=2.2.1
triton
