---
# Defaults for all languages.
BasedOnStyle:  Google

SortIncludes: false
DerivePointerAlignment: false
BinPackArguments: false
BinPackParameters: false
InsertTrailingCommas: Wrapped

# if you want to customize when working locally see https://clang.llvm.org/docs/ClangFormatStyleOptions.html for options.
# See ReformatSource.ps1 for a script to update all source according to the current options in this file.
# e.g. customizations to use Allman bracing and more indenting.
# AccessModifierOffset: -2
# BreakBeforeBraces: Allman
# CompactNamespaces: false
# IndentCaseLabels: true
# IndentWidth:     4
# NamespaceIndentation: All

...
