[flake8]
select = F,E,W
max-line-length = 120
per-file-ignores =
    __init__.py:F401
format = [flake8 PEP8 ERROR] %(path)s:%(row)d:%(col)d: %(code)s %(text)s
# We generally exclude using cmake/flake8.cmake. If something needs to be excluded here
# The exclude value/s need to be on a newline otherwise it doesn't work (at least on Windows)
# exclude = 
#     ./onnxruntime/core/flatbuffers/ort_flatbuffers_py
