# This sets the default behaviour, overriding core.autocrlf
* text=auto

# All source files should have unix line-endings in the repository,
# but convert to native line-endings on checkout
*.cc text
*.h text

# Windows specific files should retain windows line-endings
*.sln text eol=crlf

# make sure build.sh retains Unix line endings, even when checked out on windows.
*.sh text eol=lf
