_site
.sass-cache
.jekyll-metadata
*.out
.venv

# direnv, posh-direnv
.envrc
.psenvrc

.vscode

/build
/cmake

.DS_Store
node_modules
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
package-lock.json