# build, distribute, and bins (+ python proto bindings)
build
build_host_protoc
build_android
build_ios
.build_debug/*
.build_release/*
distribute/*
*.testbin
*.bin
cmake_build
.cmake_build
cmake-build-debug
gen
*~
.vs
.DS_Store
TestResults/
.idea/
onnxruntime.egg-info
nuget_root/
.packages/
.vscode/
*.code-workspace
__pycache__
onnxruntime_profile*.json
/docs/python/inference/*.md
/docs/python/inference/auto_examples/*
/docs/python/inference/media/*
/docs/python/inference/examples/*.onnx
/docs/python/inference/examples/graph.*
/docs/python/*_LICENSE
/csharp/**/obj/
/csharp/**/bin/
/csharp/Directory.Build.props
docs/python/inference/*.onnx
*.onnx
onnxprofile_profile_test_*.json
/csharp/packages
/csharp/src/Microsoft.ML.OnnxRuntime/Microsoft.ML.OnnxRuntime.targets
/csharp/src/Microsoft.ML.OnnxRuntime/Microsoft.ML.OnnxRuntime.props
cmake/external/FeaturizersLibrary/
# Java specific ignores
java/gradlew
java/gradlew.bat
java/gradle
java/.gradle
java/hs_*.log
onnxruntime/python/version_info.py
/tools/perf_util/target/classes/com/msft/send_perf_metrics
/tools/perf_util/send_perf_metrics.iml
/tools/perf_util/target/classes
/tools/perf_util/src/main/resources
