<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
    <add key="Bond" value="https://mscatapult.pkgs.visualstudio.com/_packaging/Bond/nuget/v3/index.json" />
    <add key="MsAzure" value="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/Official/nuget/index.json" />
    <add key="Catapult" value="https://mscatapult.pkgs.visualstudio.com/DefaultCollection/_packaging/Catapult/nuget/v3/index.json" />
    <add key="CatapultTest" value="https://mscatapult.pkgs.visualstudio.com/DefaultCollection/_packaging/testFeed/nuget/v3/index.json" />
    <add key="ONNXRuntime" value="https://aiinfra.pkgs.visualstudio.com/_packaging/Lotus/nuget/v3/index.json" />
</packageSources>

</configuration>
