<?xml version="1.0" encoding="utf-8"?>
<configuration>
<solution>
    <add key="disableSourceControlIntegration" value="true" />
</solution>
<packageSources>
 <add key="NuGet Official" value="https://api.nuget.org/v3/index.json" />
 <add key="onnxruntime_public" value="https://pkgs.dev.azure.com/onnxruntime/onnxruntime/_packaging/onnxruntime_public/nuget/v3/index.json" />
</packageSources>
</configuration>