<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DirectML" version="2.1.0" targetFramework="native" />
  <package id="GoogleTestAdapter" version="0.17.1" targetFramework="net46" />
  <package id="Microsoft.Windows.CsWinRT" version="0.1.0-prerelease.200512.7" targetFramework="net46" />
</packages>
