<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoogleTestAdapter" version="0.17.1" targetFramework="net46" />
  <package id="Microsoft.AI.DirectML.Preview" version="1.9.0-dev2b57b4f738b1d0dcc2dd31ecd502e36f4e3ea5a0" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.201201.7" targetFramework="native" />
</packages>
