<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AI.DirectML.Preview" version="1.13.0-devb7c99852e0b25080ea3388fea784008631dfd4c4" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.201201.7" targetFramework="native" />
  <package id="google.protobuf.tools" version="3.21.12" targetFramework="native" />
</packages>
