# This file is auto updated by dependabot
# When any package below is changed, you shall run "lintrunner init" again.
lintrunner==0.12.5
lintrunner-adapters==0.12.4
# RUFF
ruff==0.5.4
# BLACK-ISORT
black==24.10.0
isort==5.13.2
# CLANGFORMAT
clang-format==18.1.8
