# This file is auto updated by dependabot
lintrunner-adapters>=0.8.0
# RUFF, RUFF-FIX
ruff==0.0.278
# BLACK-ISORT
black==23.7.0
isort==5.12.0
# PYLINT
pylint==2.17.2
# CLANGFORMAT
clang-format==16.0.1
