black>=22.3
cerberus
flatbuffers
isort
jinja2
numpy
onnx
onnxmltools
packaging
pandas
parameterized>=0.8.1
protobuf
pydocstyle[toml]
pytest
pytest-cov
scikit-learn
scipy
sympy
wheel
setuptools>=61.0.0
