onnx~=1.15.0
numpy~=1.26.2
packaging~=23.2
onnxruntime~=1.12.0
setuptools~=68.2.0
flatbuffers~=23.5.26
pip~=23.3.2
wheel~=0.41.2
keyring~=24.3.0
typing_extensions~=4.9.0
certifi~=2023.11.17
urllib3~=2.1.0
idna~=3.4
requests~=2.31.0
coloredlogs~=15.0.1
psutil~=5.9.7
sympy~=1.12