--pre
-f https://download.pytorch.org/whl/torch_stable.html
# transformers requires sklearn
sklearn
numpy
transformers==v2.10.0
torch==1.8.1+cu102
torchvision==0.9.1+cu102
torchtext==0.9.1
tensorboard>=2.2.0,<2.5.0
h5py
