--pre
-f https://download.pytorch.org/whl/nightly/cu102/torch_nightly.html
# transformers requires sklearn
sklearn
transformers==v2.10.0
torch==1.6.0.dev20200610
torchvision==0.7.0.dev20200610
torchtext==0.6.0.dev20200610
h5py
