--pre
-f https://download.pytorch.org/whl/nightly/cu102/torch_nightly.html
# transformers requires sklearn
sklearn
transformers==v2.10.0
torch==1.7.0.dev20200928
torchvision==1.7.0.dev20200928
torchtext==1.7.0.dev20200928
