// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.

#use guardAgainstOutOfBoundsWorkgroupSizes

#param has_bias

$MAIN {
  let total = uniforms.rows * uniforms.cols;
  guardAgainstOutOfBoundsWorkgroupSizes(total);

  let row = global_idx / uniforms.cols;
  let col = global_idx % uniforms.cols;
  let weight_base = (uniforms.expert_idx * uniforms.cols + col) * uniforms.inner;
  var value = 0.0;
  for (var inner = 0u; inner < uniforms.inner; inner++) {
    value += f32(input[row * uniforms.inner + inner]) * f32(weights[weight_base + inner]);
  }
#if has_bias
  value += f32(bias[uniforms.expert_idx * uniforms.cols + col]);
#endif
  output[global_idx] = output_element_t(value);
} // MAIN
