/.vscode/ipch/

node_modules/
types/
dist/

tsconfig.tsbuildinfo

lib/**/*.js
lib/**/*.js.map
test/**/*.js
test/**/*.js.map
script/**/*.js
script/**/*.js.map

lib/wasm/binding/**/*.wasm
!lib/wasm/binding/**/*.d.ts

test/testdata-config.json
test/data/node/
