$link-color: #226aca;
$btn-primary-color: #226aca;

// Code is too light in default theme //
.highlight .n {
	color: #555 !important;
}
.highlight .nn {
	color: #555 !important;
}
.highlight .c1 {
	color: #188616 !important;
}
