<footer class="border-top footer mt-auto py-4 text-white">
    <div class="outer-container mx-auto">
        <div class="container-fluid">
            <div class="row pt-4 pb-4 text-center-sm">
                <div class="col-12">
                    <a href="/index.html"><img class="mb-md-2 mb-0 onnx-footer-logo" src="/images/svg/ONNX-Runtime-logo-white.svg" alt="ONNX Runtime Home"></a>
                    <p class="text-copyright py-4 ml-md-5">Copyright &copy; 2020 Microsoft. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<a id="back-to-top" href="JavaScript:void(0);" class="btn btn-lg back-to-top" role="button" aria-label="Back to top"><span class="fa fa-angle-up"></span></a>
