<header class="fixed-top header-content">
    <nav class="navbar navbar-expand-md navbar-custom" aria-label="Main menu">
        <a id="ONNXLogo" class="navbar-brand" href="./index.html">
            <img src="/images/svg/ONNX-Runtime-logo.svg" class="d-inline-block align-top onnx-logo" alt="ONNX Runtime Home" />
        </a>
        <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse border-md-top mt-md-0 mt-2" id="navbarNav">
            <div class="mr-auto"></div>
            <div class="my-md-2 mb-0 mt-2 my-lg-0 pl-3 pl-md-0">
                <ul class="navbar-nav navbar-nav mr-auto text-uppercase" id="navigation">
                    <li class="nav-item">
                        <a class="nav-link pr-3 btn-getStarted" href="JavaScript:void(0);">Get Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pr-3" target="_blank" href="https://cloudblogs.microsoft.com/opensource/tag/onnx">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pr-3" href="/about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="http://github.com/microsoft/onnxruntime">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
