// This is a one line comment

@compute @workgroup_size(128)
fn main(@builtin(global_invocation_id) global_id: vec3<u32>) {
    let buffer_count = 4;  /* This
                              is
                              a
                              multi-line
                              comment */
    let index = global_id.x;
}
