# transformers requires sklearn
--pre
-f https://download.pytorch.org/whl/rocm4.3.1/torch_stable.html
torch==1.11.0
pandas
sklearn
numpy==1.21.0
transformers==v4.3.2
tensorboard>=2.2.0,<2.5.0
h5py
wget
setuptools>=41.4.0

