--pre
-f https://download.pytorch.org/whl/nightly/cu101/torch_nightly.html
deepspeed
numpy==1.19.5
pandas
torch
torchvision
torchtext
transformers==v4.3.2
wget
# PyTorch Lightning (nightly) is used for CI tests only
https://github.com/PyTorchLightning/pytorch-lightning/archive/master.zip
