huggingface_hub==0.36.0
diffusers==0.38.0
transformers==4.57.6
numpy>=1.24.1
accelerate
onnx==1.22.0
packaging
protobuf==6.33.6
psutil
sympy
nvtx==0.2.5
torchvision==0.22.0
tensorrt==10.13.3.9
mediapipe
controlnet_aux==0.0.9
# The following are for SDXL
optimum==2.1.0
optimum-onnx==0.1.0
safetensors
invisible_watermark
opencv-python-headless
