huggingface_hub>=1.5.0,<2.0
diffusers==0.28.0
transformers==5.10.1
numpy>=1.24.1
accelerate
onnx==1.22.0
packaging
protobuf==6.33.6
psutil
sympy
nvtx==0.2.5
torchvision==0.15.2
tensorrt==8.5.1.7
mediapipe
controlnet_aux==0.0.9
# The following are for SDXL
optimum==1.20.0
safetensors
invisible_watermark
opencv-python-headless
