cerberus
numpy==1.24.4 ; python_version < '3.9'
numpy==2.1.2; python_version >= '3.9'
mypy
pytest
setuptools==78.1.1
wheel==0.42.0
onnx==1.17.0 ; python_version < '3.13'
argparse
sympy==1.12
flatbuffers
protobuf==4.21.12
packaging
