cerberus
numpy==2.2.6; python_version < "3.14"
numpy==2.3.2; python_version >= "3.14"
mypy
pytest
setuptools==78.1.1
wheel==0.45.1
argparse
sympy==1.14
flatbuffers
protobuf==6.33.0
packaging
onnxscript==0.5.3; python_version < "3.14"
onnx-ir==0.1.10; python_version < "3.14"
onnx==1.20.1; python_version < "3.14"
