cerberus
numpy==1.21.6 ; python_version < '3.11'
numpy==1.24.2 ; python_version >= '3.11'
mypy
pytest
setuptools>=68.2.2
wheel>=0.35.1
git+http://github.com/onnx/onnx.git@b86cc54efce19530fb953e4b21f57e6b3888534c#egg=onnx
argparse
sympy==1.12
flatbuffers
protobuf==3.20.2
packaging
