--pre
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.0.0+cu118
torchvision==0.15.1+cu118
torchtext==0.15.1
# TODO(bmeswani): packaging 22.0 removes support for LegacyVersion leading to errors because transformers 4.4.2 uses LegacyVersion
packaging==21.3
setuptools>=68.2.2
