/.vscode/
/bin/
/build/
/examples/
/prebuilds/
/script/
/src/
/test/

/types/**/*.d.ts
!/types/lib/**/*.d.ts

/lib/**/*.ts
/lib/**/*.js.map

/.clang-format
/.eslintrc.js
/.gitmodules
/CMakeLists.txt
/tsconfig.json
