--pre
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.2.0
setuptools>=68.2.2
cerberus
h5py
scikit-learn
numpy==1.21.6 ; python_version < '3.9'
numpy==2.1.2 ; python_version >= '3.9'
pandas
parameterized
