{
    "type": "minimal-baseline",
    "os": "android",
    "arch": "arm64-v8a",
    "build_params": [
        "--android",
        "--android_sdk_path=/android_home",
        "--android_ndk_path=/ndk_home",
        "--android_abi=arm64-v8a",
        "--android_api=29",
        "--minimal_build",
        "--build_shared_lib",
        "--build_java",
        "--disable_ml_ops",
        "--disable_exceptions",
        "--include_ops_by_config=/onnxruntime_src/tools/ci_build/github/linux/ort_minimal/build_check_binsize_config/no_ops.config"
    ]
}
