onnx
numpy
coloredlogs
psutil
py-cpuinfo
py3nvml
packaging
transformers
onnxruntime-gpu
onnxconverter_common
--find-links https://download.pytorch.org/whl/torch_stable.html
torch===1.7.1
torchvision===0.8.2
torchaudio===0.7.2