onnx >= 1.12

# https://github.com/microsoft/onnxruntime/issues/14017
numpy == 1.23.5

coloredlogs
psutil
py-cpuinfo
py3nvml
packaging

# https://github.com/microsoft/onnxruntime/issues/12843
transformers == 4.19.4

scipy
sentencepiece

# please follow https://pytorch.org/ to install PyTorch for your OS
torch >= 1.12
