onnx
numpy
coloredlogs
psutil
py-cpuinfo
py3nvml
packaging
# Gpt2 and Albert models need a change in transformers (https://github.com/huggingface/transformers/pull/4244) for exporting ONNX models.
# The change does not exist in 2.9.0 so we install from source instead.
git+https://github.com/huggingface/transformers.git
onnxruntime
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.5.0+cpu
torchvision==0.6.0+cpu
