# Install onnxruntime-rocm or onnxruntime_training
# Build onnxruntime-rocm from source or install lastest onnxruntime_training rocm nightly python package
# TODO: update once we have public pre-built packages
