diffusers>=0.16.0
transformers>=4.26.0
numpy>=1.24.1
accelerate
onnx>=1.13.0
coloredlogs
packaging
protobuf
psutil
sympy
tensorrt>=8.6.1
onnxruntime-gpu>=1.15.1
py3nvml
# cuda-python version shall be compatible with CUDA version of torch and onnxruntime-gpu
cuda-python==11.7.0
#To export onnx of stable diffusion, please install PyTorch 1.13.1+cu117
#--extra-index-url https://download.pytorch.org/whl/cu117
#torch==1.13.1+cu117
