diffusers==0.19.3
transformers==4.31.0
numpy>=1.24.1
accelerate
onnx==1.14.0
coloredlogs
packaging
# Use newer version of protobuf might cause crash
protobuf==3.20.3
psutil
sympy
# The following are for SDXL
optimum==1.13.1
safetensors
invisible_watermark
# newer version of opencv-python migth encounter module 'cv2.dnn' has no attribute 'DictValue' error
opencv-python==4.8.0.74
