-r requirements.txt
onnxruntime-gpu>=1.16
py3nvml>=0.2.7

# cuda-python is needed for cuda graph. It shall be compatible with CUDA version of torch and onnxruntime-gpu.
cuda-python==11.8.0
# For windows, cuda-python need the following
pywin32; platform_system == "Windows"

nvtx

# To export onnx, please install PyTorch 2.10 like
# pip3 install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu118
# pip3 install --upgrade polygraphy onnx-graphsurgeon --extra-index-url https://pypi.ngc.nvidia.com
