-r requirements.txt

# Official onnxruntime-gpu 1.16.1 is built with CUDA 11.8.
onnxruntime-gpu>=1.16.1

py3nvml

# The version of cuda-python shall be compatible with installed CUDA version.
# For example, if your CUDA version is 12.1, you can install cuda-python 12.1.
cuda-python==11.8.0

# For windows, cuda-python need the following
pywin32; platform_system == "Windows"

nvtx

# Please install PyTorch 2.1 or above for CUDA 11.8 using one of the following commands:
# pip3 install torch --index-url https://download.pytorch.org/whl/cu118

# Run the following command to install some extra packages for onnx graph optimization for TensorRT manually.
# pip3 install --upgrade polygraphy onnx-graphsurgeon --extra-index-url https://pypi.ngc.nvidia.com
