<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AI.MachineLearning" version="1.4.0-dev-20200728-0957-6cb93ccb5" targetFramework="net472" />
  <package id="Microsoft.Windows.CsWinRT" version="0.1.0-prerelease.200629.3" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.NET" version="10.0.18362.3-preview" targetFramework="net472" />
</packages>