<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <provider
            android:name="ai.onnxruntime.TelemetryInitializer"
            android:authorities="${applicationId}.onnxruntime_telemetry_initializer"
            android:exported="false"
            android:initOrder="100" />
    </application>
</manifest>
