/.vscode/
/build/
/script/*
!/script/install.js
!/script/install-utils.js
!/script/install-metadata.js
!/script/native-directory.js
/src/
/test/

/types/**/*.d.ts
!/types/lib/**/*.d.ts

CMakeLists.txt
tsconfig.json
**/*.tsbuildinfo

*.tgz
