# transformers requires sklearn
-U --pre
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cu111
torchvision==0.10.0+cu111
torchtext==0.10.0
pandas
sklearn
numpy==1.19.5
transformers==v4.3.2
tensorboard>=2.2.0,<2.5.0
h5py
wget
