--pre
-f https://download.pytorch.org/whl/torch_stable.html
# transformers requires sklearn
pandas
sklearn
numpy==1.19.5
transformers==v4.3.2
torch==1.8.1+cu101
torchvision==0.9.1+cu101
torchtext==0.9.1
tensorboard==v2.0.0
h5py
wget
pytorch-lightning==1.2.5
