--pre
-f https://download.pytorch.org/whl/nightly/cu101/torch_nightly.html
# transformers requires sklearn
pandas
sklearn
numpy==1.19.5
transformers==v4.3.2
torch
torchvision
torchtext
tensorboard==v2.0.0
h5py
wget
# PyTorch Lightning (nightly) is used for CI tests only
https://github.com/PyTorchLightning/pytorch-lightning/archive/master.zip