# Don't edit this file manully.
# Run generate_fake_workflows.py to generate it.

name: {{ ci_workflow_name }}
on:
  push:
    paths:
      - docs/**
      - README.md
      - CONTRIBUTING.md
      - BUILD.md
      - .github/**
      - tools/ci_build/github/azure-pipeline/win-gpu-ci-pipeline.yml
  pull_request:
    paths:
      - docs/**
      - README.md
      - CONTRIBUTING.md
      - BUILD.md
      - .github/**
      - tools/ci_build/github/azure-pipeline/win-gpu-ci-pipeline.yml

jobs:
{%- for name in job_names %}
  job{{ loop.index }}:
    name: {{ name }}
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "No build required, only documentation changed"'
{% endfor %}
